body.page-r25 .qtip-default {
  border: 1px solid #8c1515;
  background-color: #fff;
  color: #555;
}

body.page-r25 #edit-actions {
  margin-top: 2%;
}

body.page-r25 #edit-cancel {
  margin-left: 2%;
}

@media (max-width: 1166px) and (min-width: 979px) {
  body.page-r25 input[type="text"] {
    width: 93%;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  body.page-r25 input[type="text"] {
    width: 65%;
  }
  body.page-r25 .row-fluid .span4 {
    width: 65%;
  }
  body.page-r25 #sidebar-second {
    width: 99%;
    margin-left: 36%;
  }
}

@media (max-width: 767px) {
  body.page-r25 #block-stanford-r25-stanford-r25-reserve {
    width: 92%;
  }
  body.page-r25 #sidebar-second {
    width: auto;
    margin-left: 0;
  }
}

body.page-r25 #block-stanford-r25-stanford-r25-room-info {
  margin-bottom: 15px;
}

body.page-r25 #block-stanford-r25-stanford-r25-reserve,
body.page-r25 .block-stanford-r25-stanford-r25-cancel {
  border: 0;
  border-top: 3px solid #bbb;
  border-bottom: 1px solid #bbb;
  box-shadow: none;
  background: #eee;
  min-height: 20px;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

body.page-r25 #block-stanford-r25-stanford-r25-reserve h2,
body.page-r25 .block-stanford-r25-stanford-r25-cancel h2 {
  color: #816600;
  font-size: 18px;
  margin: 0 0 12px;
  padding: 0;
  text-transform: none;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 0.02em;
}

body.page-r25 #block-stanford-r25-stanford-r25-reserve {
  padding: 20px 10px;
}

@media (max-width: 979px) {
  body.page-r25 #block-stanford-r25-stanford-r25-reserve {
    padding: 20px;
  }
}

body.page-r25 #stanford-r25-room-info {
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  float: left;
}

body.page-r25 #stanford-r25-room-info #stanford-r25-room-photo {
  display: block;
  width: 100%;
  height: auto;
}

body.page-r25 #stanford-r25-room-info #stanford-r25-room-detail {
  background: #fff;
  padding: 20px;
  border-radius: 0 0 4px 4px;
  float: left;
}

body.page-r25 #stanford-r25-room-info #stanford-r25-room-detail #stanford-r25-room-comments,
body.page-r25 #stanford-r25-room-info #stanford-r25-room-detail #stanford-r25-room-capacity,
body.page-r25 #stanford-r25-room-info #stanford-r25-room-detail #stanford-r25-room-features {
  margin: 0 0 1em;
}

body.page-r25 #stanford-r25-reservation {
  margin-bottom: 0;
}

body.page-r25 #stanford-r25-reservation .form-type-checkbox label {
  width: 80%;
}

body.page-r25 #stanford-r25-reservation .form-type-checkbox input.form-checkbox {
  margin-top: 5px;
  vertical-align: top;
}

body.page-r25 #stanford-r25-reservation input.form-submit {
  background-color: #8c1515;
  background-image: none;
  border-style: none;
  color: #fff;
}

body.page-r25 #stanford-r25-reservation #edit-stanford-r25-booking-date,
body.page-r25 #stanford-r25-reservation #edit-stanford-r25-booking-enddate {
  padding: 5px;
}

body.page-r25 #stanford-r25-reservation .starttime,
body.page-r25 #stanford-r25-reservation .endtime {
  margin-bottom: 25px;
  font-size: .9em;
  margin-top: 5px;
  color: #333;
}

body.page-r25 #stanford-r25-reservation .container-inline-date {
  border-top: 1px solid #bbb;
  padding-top: 5px;
}

body.page-r25 #stanford-r25-reservation .container-inline-date .form-item-stanford-r25-booking-enddate {
  margin-top: 0;
  margin-bottom: 0;
}

body.page-r25 #stanford-r25-reservation #edit-submit--2 {
  margin: 20px 0;
  width: 100%;
}

body.page-r25 #stanford-r25-reservation .form-item {
  margin: 0;
}

body.page-r25 #stanford-r25-reservation .form-item .description {
  line-height: 1em;
}

body.page-r25 #stanford-r25-reservation .form-item .readandagree {
  float: left;
}

body.page-r25 #stanford-r25-reservation .form-item label {
  margin-bottom: 3px;
}

body.page-r25 #stanford-r25-reservation .form-item .se3-hide {
  display: none;
}

body.page-r25 #stanford-r25-reservation .form-item .form-item-stanford-r25-booking-date-date .description,
body.page-r25 #stanford-r25-reservation .form-item .form-item-stanford-r25-booking-date-time .description,
body.page-r25 #stanford-r25-reservation .form-item .form-item-stanford-r25-booking-enddate-date .description,
body.page-r25 #stanford-r25-reservation .form-item .form-item-stanford-r25-booking-enddate-time .description {
  display: none;
}

body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr183,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr141,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr182 {
  margin-top: 1em;
  margin-bottom: 0;
}

body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-reason,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr202,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-headcount,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr166 {
  margin-top: 1em;
  margin-bottom: 1em;
}

body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr141,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr166 {
  float: left;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-right: 10px;
  width: 100%;
}

@media (max-width: 768px) and (min-width: 480px) {
  body.page-r25 #stanford-r25-reservation .form-type-radios {
    width: 100%;
  }
}

body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr141,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr199,
body.page-r25 #stanford-r25-reservation .form-item-stanford-r25-booking-attr203 {
  margin-top: 20px;
}

body.page-r25 #stanford-r25-reservation #edit-stanford-r25-booking-attr141 .form-type-radio,
body.page-r25 #stanford-r25-reservation #edit-stanford-r25-booking-attr166 .form-type-radio {
  margin-top: 0;
  width: auto;
}

body.page-r25 #calendar thead th {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #333;
}

form.webform-client-form-564 #edit-submitted-event-start-time-ampm,
form.webform-client-form-564 #edit-submitted-event-time-finish-ampm,
form.webform-client-form-564 .form-item-submitted-will-food-be-served,
form.webform-client-form-564 .form-item-submitted-will-any-in-attendance-be-under-18-years {
  display: inline;
}

form.webform-client-form-564 #edit-submitted-event-start-time-ampm input.form-radio,
form.webform-client-form-564 #edit-submitted-event-start-time-ampm label.option,
form.webform-client-form-564 #edit-submitted-event-time-finish-ampm input.form-radio,
form.webform-client-form-564 #edit-submitted-event-time-finish-ampm label.option,
form.webform-client-form-564 .form-item-submitted-will-food-be-served input.form-radio,
form.webform-client-form-564 .form-item-submitted-will-food-be-served label.option,
form.webform-client-form-564 .form-item-submitted-will-any-in-attendance-be-under-18-years input.form-radio,
form.webform-client-form-564 .form-item-submitted-will-any-in-attendance-be-under-18-years label.option {
  display: inline;
}

form.webform-client-form-564 #edit-submitted-will-food-be-served-2,
form.webform-client-form-564 #edit-submitted-will-any-in-attendance-be-under-18-years-2 {
  margin-left: 10px;
}

form.webform-client-form-564 #edit-submitted-event-start-time-ampm,
form.webform-client-form-564 #edit-submitted-event-time-finish-ampm {
  margin-left: 10px;
}

form.webform-client-form-564 #edit-submitted-event-date-month,
form.webform-client-form-564 #edit-submitted-event-date-finish-month,
form.webform-client-form-564 #edit-submitted-event-date-day,
form.webform-client-form-564 #edit-submitted-event-date-finish-day,
form.webform-client-form-564 #edit-submitted-event-date-year,
form.webform-client-form-564 #edit-submitted-event-date-finish-year {
  display: none;
  width: auto;
}

form.webform-client-form-564 .webform-component--event-date,
form.webform-client-form-564 .webform-component--event-date-finish {
  margin-bottom: 0;
}

form.webform-client-form-564 .webform-component--event-date .webform-datepicker,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker {
  width: 205px;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}

form.webform-client-form-564 .webform-component--event-date .webform-datepicker .form-item-submitted-event-date-year::after,
form.webform-client-form-564 .webform-component--event-date .webform-datepicker .form-item-submitted-event-date-finish-year::after,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker .form-item-submitted-event-date-year::after,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker .form-item-submitted-event-date-finish-year::after {
  content: 'Date';
  font-weight: bold;
}

form.webform-client-form-564 .webform-component--event-date .webform-datepicker input.webform-calendar,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker input.webform-calendar {
  float: right;
  padding: 3px 3px 3px 150px;
}

form.webform-client-form-564 .webform-component--event-date .webform-datepicker.picked,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker.picked {
  width: auto;
  display: inline-block;
  height: auto;
  padding: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

form.webform-client-form-564 .webform-component--event-date .webform-datepicker.picked .form-item-submitted-event-date-year::after,
form.webform-client-form-564 .webform-component--event-date .webform-datepicker.picked .form-item-submitted-event-date-finish-year::after,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker.picked .form-item-submitted-event-date-year::after,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker.picked .form-item-submitted-event-date-finish-year::after {
  content: none;
}

form.webform-client-form-564 .webform-component--event-date .webform-datepicker.picked input.webform-calendar,
form.webform-client-form-564 .webform-component--event-date-finish .webform-datepicker.picked input.webform-calendar {
  float: right;
  padding: 3px;
}

form.webform-client-form-564 .webform-component--event-start-time,
form.webform-client-form-564 .webform-component--event-time-finish {
  margin-top: 0;
}

form.webform-client-form-564 .webform-component--event-start-time select,
form.webform-client-form-564 .webform-component--event-time-finish select {
  width: auto;
}

form.webform-client-form-564 .webform-component--event-start-time .form-radios input,
form.webform-client-form-564 .webform-component--event-time-finish .form-radios input,
form.webform-client-form-564 .webform-component--will-food-be-served .form-radios input,
form.webform-client-form-564 .webform-component--will-any-in-attendance-be-under-18-years .form-radios input {
  margin-top: 0;
}
