/*
 *
 *  various style tweaks for calendar displays, room info block, and reservation form
 *
 */

#stanford-r25-reservation {
    margin-bottom: 0;
}

#stanford-r25-reservation .form-item {
    margin-top: 0;
    margin-bottom: 0;
}

#stanford-r25-reservation .form-submit {
    margin-top: 10px;
}

#calendar thead, #calendar thead th {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #333;
}

#block-stanford-soe-r25-stanford-soe-r25-reserve,
#block-block-2 {
    border: none;
    border-top: 3px solid #bbb;
    border-bottom: 1px solid #bbb;
    box-shadow: none;
    background: #eee;
    min-height: 20px;
    padding: 20px;
    border-radius: 0 0 4px 4px;
}

#block-stanford-soe-r25-stanford-soe-r25-room-info {
    margin-bottom: 15px;
}

#stanford-soe-r25-room-detail {
    background: #fff;
    padding: 20px;
    border-radius: 0 0 4px 4px;
}

#stanford-soe-r25-room-info {
    border-radius: 0 0 4px 4px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

#stanford-soe-r25-room-info #stanford-soe-r25-room-photo {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 1em;
}

#stanford-soe-r25-room-detail #stanford-soe-r25-room-comments,
#stanford-soe-r25-room-detail #stanford-soe-r25-room-capacity,
#stanford-soe-r25-room-detail #stanford-soe-r25-room-features {
    margin: 0 0 1em 0;
}

.se3-hide {
    display: none;
}
