/*
 *
 *  various style tweaks for calendar displays, room info block, and reservation form
 *
 */

#stanford-r25-reservation {
  margin-bottom: 0;
}

#stanford-r25-reservation .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

#stanford-soe-r25-reservation .form-type-checkbox input.form-checkbox {
  margin-top: 5px;
  vertical-align: top;
}

#stanford-soe-r25-reservation .form-type-checkbox label {
  width: 80%;
}


#calendar thead, #calendar thead th {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #333;
}

#block-stanford-soe-r25-stanford-soe-r25-reserve,
.block-stanford-soe-r25-stanford-soe-r25-cancel {
  border: none;
  border-top: 3px solid #bbb;
  border-bottom: 1px solid #bbb;
  box-shadow: none;
  background: #eee;
  min-height: 20px;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

#block-stanford-soe-r25-stanford-soe-r25-reserve h2,
.block-stanford-soe-r25-stanford-soe-r25-cancel h2 {
  color: #820000;
  font-size: 18px;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: none;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 0.02em;
}

@media (max-width: 979px) and (min-width: 768px) {
  .page-r25 .row-fluid .span4 {
    width: 65%;
  }

  .page-r25 #sidebar-second {
    width: 99%;
    margin-left: 36%;
  }
}

@media (max-width: 767px) {
  .page-r25 #block-stanford-soe-r25-stanford-soe-r25-reserve {
    width: auto;
  }

  .page-r25 #sidebar-second {
    width: auto;
    margin-left: 0;
  }
}
#block-stanford-soe-r25-stanford-soe-r25-room-info {
  margin-bottom: 15px;
}

#stanford-r25-room-detail {
  background: #eee;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

#stanford-r25-room-info {
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

#edit-stanford-soe-r25-booking-date,
#edit-stanford-soe-r25-booking-enddate {
  padding: 5px;
}

#stanford-soe-r25-reservation input.form-submit {
  background-color: #8c1515;
  background-image: none;
  border-style: none;
  color: #FFFFFF;
}
.description:before {
  margin: 0;
}
#stanford-soe-r25-reservation input.form-submit:hover {
  background-color: #333333;
  background-image: none;
  border-style: none;
  color: #FFFFFF;
}

.starttime,
.endtime {
  margin-bottom: 25px;
  font-size: .9em;
  margin-top: 5px;
  color: #333;
}

.form-item.form-item-stanford-soe-r25-booking-enddate {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-item .form-item-stanford-soe-r25-booking-date-date .description,
.form-item .form-item-stanford-soe-r25-booking-date-time .description,
.form-item .form-item-stanford-soe-r25-booking-enddate-date .description,
.form-item .form-item-stanford-soe-r25-booking-enddate-time .description {
  display: none;
}

#stanford-r25-room-info #stanford-r25-room-photo {
  display: block;
  width: 100%;
  height: auto;
}

#stanford-r25-room-detail #stanford-r25-room-comments,
#stanford-r25-room-detail #stanford-r25-room-capacity,
#stanford-r25-room-detail #stanford-r25-room-features {
  margin: 0 0 1em 0;
}

.form-item {
  margin: 0;
}
.form-item-stanford-soe-r25-booking-attr144,
.form-item-stanford-soe-r25-booking-attr141,
.form-item-stanford-soe-r25-booking-attr182 {
  margin-top: 1em;
  margin-bottom: 0;
}

.form-item-stanford-soe-r25-booking-reason,
.form-item-stanford-soe-r25-booking-attr191,
.form-item-stanford-soe-r25-booking-headcount,
.form-item-stanford-soe-r25-booking-attr166 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.container-inline-date {
  border-top: 1px solid #bbb;
  padding-top: 5px;
}

.form-item .description {
  line-height: 1em;
}

label {
  margin-bottom: 3px;
}

input#edit-submit--2 {
  margin: 20px 0;
  width: 100%;
}

.se3-hide {
  display: none;
}

.qtip-default {
  border: 1px solid #8c1515;
  background-color: #fff;
  color: #555;
}
